body{
  background: saddlebrown;
}

.heading{
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 35px;
  color: #D8C890;
}

.balkand-img img{
  width: 1000px;
}

.des{
 color: #D8C890;
 font-size: 35px;
}

a{
   margin-left: 600px;
