body{
  background: saddlebrown;
}

.heading{
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 35px;
  color: #D8C890;
}

.balkand-img img{
  width: 700px;
}

.des{
 color: #D8C890;
 font-size: 35px;
}
       a {
            color: white;
            text-decoration: none;
            font-family: cursive;
            font-size: large;
            display: inline-flex;
            margin-left: 200px;
        }
