body{
  background: #FFB000;
}

.heading{
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 35px;
  color: #1C2C71;
}

.sunderkand-img img{
  width: 700px;
}

.des{
 color: #1C2C71;
 font-size: 35px;
}

hr{
  color: red;
}

a {
            color: white;
            text-decoration: none;
            font-family: cursive;
            font-size: large;
            display: inline-flex;
            margin-left: 200px;
        }
